<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../Assets/CSS/main.css" />    
    <link rel="stylesheet" type="text/css" media="screen" href="loading.css" />
    
</head>
<body>
    <img src="../../Assets/IMG/loading.gif" /><br>
    Loading, please wait...<p>
    </p>
    <span id="from">0 / X</span>
    <script src="../../Model/Server.js"></script>
    <script src="../../Model/FileInfo.js"></script>
    <script src="loading.js"></script>
</body>
</html>