<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../Assets/CSS/main.css" />
        <link rel="stylesheet" type="text/css" href="index.css" />
    </head>
    <body>
        <nav>
            <div calss="title">
            CloudBox v1.0.0
            </div>
            <div class="options">                
                <img id="btnMin" src="../../Assets/IMG/min.png" />
                <img id="btnClose" src="../../Assets/IMG/close.png" />
            </div>
        </nav>      
        <div class="ftpServers">
            <div class="list">
                <ul id="serverList">
                    <li>Loading...</li>
                </ul>
            </div>
            <div class="addNew">
                <a href="javascript:void(0);" id="btnAddNew">DODAJ NOVI</a>
            </div>
        </div>  
        <div class="fileList">
            
        </div>
    </body>

    <script src="index.js"></script>
    <script src="../../Common/Nav.js"></script>
</html>